@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
:root{
    --primary:#2b2278;
}
/* Common css end */
/* header part start */
header{
    background-image: url(../images/banner-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 50px 0;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu ul{
    padding: 50px 0 20px;
    display: flex;

}
.menu ul li a{
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.5s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu ul li a:hover{
    background-color: var(--primary);
}
/* header part END */
/* services part start */
#services-id{
    margin: 50px 0;
}
.service-heading{
    padding: 100px 0;
}
.service-heading .services-title{
    font-size: 40px;
}
.service-heading .services-description{
    font-size: 20px;
    padding-top: 20px;
    color: #434343;
}
.services-items{
    justify-content: space-between;
    gap: 40px;
}
.services-items .services-item{
    width: 32%;
}
.services-items .services-item img{
    width: 100%;
}
.services-items .services-item p{
    padding: 30px 0;
}
.services-items .services-item p a{
    font-weight: 600;
    padding: 15px 40px;
    background-color: var(--primary);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: inline-block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.services-items .services-item p a:hover{
    background-color: #434343;
}
/* services part end */
#footer-id{
    padding: 250px 0 30px;
    background: url(../images/footer-bg.png) no-repeat top /cover;
}

.footer-serch input {
    width: 50%;
    padding: 15px 136px 15px 15px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 18px;
}
.footer-serch input::placeholder{
    font-size: 18px;
}
.footer-serch input:focus{
   outline: none;
}
.footer-email, .footer-phone p{
    color: #fff;
}
.footer-icon ul{
    justify-content: center;
}
.footer-serch a{
    display: inline-block;
    font-size: 20px;
    color: rgb(147, 20, 20);
    padding: 10px 10px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    padding: 20px 0;
    position: relative;
    left: -120px;
}
.footer-phone img, .footer-email img{
    padding: 20px 0 10px;
}
.footer-icon ul{
    padding: 30px 0;
}
.footer-icon ul li{
    padding: 0 10px;
}

/* copyright part start */
#copyright-id{
    padding: 20px 0;
    background-color:#122c2d ;
    color: #fff;
}


/* ------------------------------------ 
Responsive for Mobile Device 
------------------------------------ */
@media only screen and (max-width:576px) {
    .container{
        width: 95%;
        margin: 0 auto;
    }
    #services-id {
        margin:0;
    }
    .service-heading {
        text-align: center;
        padding: 30px 0;
    }
    .services-items {
        flex-direction: column;
        gap: 0;
    }
    .services-items .services-item {
        width: 100%;
    }
    .footer-serch input{
        width: 100%;
        margin-top: 20px;
    }
    .footer-serch a{
        left: 0;
        color: #fff;
    }
    .footer-phone img, .footer-email img {
        width: 20px;
    }
    .copyright p{
        padding: 10px 20px;
    }

    .hide{
        display: none;
    }
}